@{
    ViewData["Title"] = "Account Deposit";
}

<div class="text-center" ng-app="myApp" ng-controller="myCtrl">
    <h1 class="display-4">Account Deposit</h1>

    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="text" ng-model="amount" class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
                <span class="input-group-text">.00</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="doDeposit()">Submit</button>
    </form>




</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        
        controller1 = function($scope, $http, $q, $window) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";

            $http.get("welcome.htm")
                .then(function(response) {
                    $scope.myWelcome = response.data;
                });

            $scope.doDeposit = function() {
                $scope.deposit().then(x => {
                    console.log(x);
                    $window.location.href ='https://localhost:44318/Account/Index';
                }).catch(err => {
                    console.log(err);
                });
            }

            $scope.deposit = function() {
                var deferred = $q.defer();

                $http.post("./Deposit", { Amount: $scope.amount })
                    .then(function(response) {

                            if (response.status == 200) {
                                deferred.resolve(response.data);
                            } else {
                                deferred.reject(response);
                            }
                        },
                        function myError(response) {
                            deferred.reject(response);
                        });

                return deferred.promise;

            }
        }
        controller1.$inject = ['$scope', '$http', '$q','$window'];
        app.controller('myCtrl', controller1);
    </script>

}
