@{
    ViewData["Title"] = "Account Deposit";
}

    <div class="text-center" ng-app="myApp" ng-controller="myCtrl">
        <h1 class="display-4">Account Deposit</h1>

        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" ng-model="amount" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="doDeposit()">Submit</button>
        </form>

        <div id="overlay"></div>
        <!-- Flexbox container for aligning the toasts -->
        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

            <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect fill="#007aff" width="100%" height="100%"></rect>
                    </svg>
                    <strong class="mr-auto">Bootstrap</strong>
                    <small>just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Current balance is {{balance}}
                </div>
            </div>
        </div>

    </div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);

        controller1 = function($scope, $http, $q, $window, $timeout) {

            $scope.doDeposit = function() {
                $scope.deposit().then(x => {
                    $scope.balance = x;
                    console.log(x);
                    //$("#overlay").show();
                    $('.toast').toast('show');

                    $timeout(function() { $window.location.href = 'https://localhost:44318/Account/Index'; }, 1000);

                }).catch(err => {
                    console.log(err);
                });
            }

            $scope.deposit = function() {
                var deferred = $q.defer();

                $http.post("./Deposit", { Amount: $scope.amount })
                    .then(function(response) {

                            if (response.status == 200) {
                                deferred.resolve(response.data);
                            } else {
                                deferred.reject(response);
                            }
                        },
                        function myError(response) {
                            deferred.reject(response);
                        });

                return deferred.promise;

            }
        }
        controller1.$inject = ['$scope', '$http', '$q', '$window', '$timeout'];
        app.controller('myCtrl', controller1);
    </script>

}
