@{
    ViewData["Title"] = "Account Lists";
    var balance = ViewData["Balance"] ?? 0.0;
    var accountNumber = ViewData["IBAN"] ?? "IBAN Account Number";
}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/Account/Deposit">Deposit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Account/Withdraw">Withdraw</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Account/Transfer">Transfer</a>
    </li>
</ul>
<div class="text-center" ng-controller="accountController">
    <h1 class="display-4">@accountNumber</h1>
    <h1 class="display-4">@balance</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Account</th>
            <th scope="col">Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <th scope="row">{{$index+1+(10*(pageIndex-1))}}</th>
            <td>{{item.amount | number: 2}}</td>
            <td>{{item.targetAccountNumber}}</td>
            <td>{{item.type | transactionType}}</td>
        </tr>
        <tr ng-if="!items || items.length ==0">
            <td>no data</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" ng-if="!hasPreviousPage">First</a>
                <a class="page-link" ng-if="hasPreviousPage" ng-click="doSearch(1)">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" ng-if="!hasPreviousPage">Previous</a>
                <a class="page-link" ng-if="hasPreviousPage" ng-click="doSearch(pageIndex-1)">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" ng-click="doSearch(pageIndex)">{{pageIndex}}/{{totalPages}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" ng-if="!hasNextPage">Next</a>
                <a class="page-link" ng-if="hasNextPage" ng-click="doSearch(pageIndex+1)">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" ng-if="!hasNextPage">Last</a>
                <a class="page-link" ng-if="hasNextPage" ng-click="doSearch(totalPages)">Last</a>
            </li>
        </ul>
    </nav>

</div>