@{
    ViewData["Title"] = "Account Lists";
    var balance = ViewData["Balance"] ?? 0.0;
    var accountNumber = ViewData["IBAN"] ?? "IBAN Account Number";
}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/Account/Deposit">Deposit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Account/Withdraw">Withdraw</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Account/Transfer">Transfer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>
<div class="text-center" ng-controller="accountController">
    <h1 class="display-4">@accountNumber</h1>
    <h1 class="display-4">@balance</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Amount</th>
                <th scope="col">Account</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <th scope="row">1</th>
                <td>{{item.amount}}</td>
                <td>{{item.targetAccountNumber}}</td>
                <td>{{item.type}}</td>
            </tr>
            <tr ng-if="!items || items.length ==0">
                <td>no data</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" ng-click="doSearch()">Previous</a></li>
            <li class="page-item"><a class="page-link" ng-click="doSearch(1)">1</a></li>
            <li class="page-item"><a class="page-link" ng-click="doSearch(2)">2</a></li>
            <li class="page-item"><a class="page-link" ng-click="doSearch(3)">3</a></li>
            <li class="page-item"><a class="page-link" ng-click="doSearch()">Next</a></li>
        </ul>
    </nav>

</div>

