@{
    ViewData["Title"] = "Account Lists";
    var balance = ViewData["Balance"] ?? 0.0;
    var accountNumber = ViewData["IBAN"] ?? "IBAN Account Number";
}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/Account/Deposit">Deposit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Account/Withdraw">Withdraw</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Account/Transfer">Transfer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>
<div class="text-center" ng-app="myApp" ng-controller="myCtrl">
    <h1 class="display-4">@accountNumber</h1>
    <h1 class="display-4">@balance</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Amount</th>
                <th scope="col">Account</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <th scope="row">1</th>
                <td>{{item.amount}}</td>
                <td>{{item.targetAccountNumber}}</td>
                <td>{{item.type}}</td>
            </tr>
            <tr ng-if="!items || items.length ==0">
                <td>no data</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" ng-click="doSearch()">Previous</a></li>
            <li class="page-item"><a class="page-link" ng-click="doSearch(1)">1</a></li>
            <li class="page-item"><a class="page-link" ng-click="doSearch(2)">2</a></li>
            <li class="page-item"><a class="page-link" ng-click="doSearch(3)">3</a></li>
            <li class="page-item"><a class="page-link" ng-click="doSearch()">Next</a></li>
        </ul>
    </nav>

    <div id="overlay">
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<style>
    #overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
</style>
@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);

        controller1 = function($scope, $http, $q, $window, $timeout) {

            $scope.doSearch = function (page) {
                $("#overlay").show();
                $scope.search(page).then(x => {
                    console.log(x);
                    $scope.items = x;
                    $("#overlay").hide();
                }).catch(err => {
                     $scope.items = [];
                    console.log(err);
                    $("#overlay").hide();
                });
            }

            $scope.search = function (page) {
                var deferred = $q.defer();

                $http.get("Account/Transactions", {
                    params: { sortOrder: '', currentFilter: '', searchString: '', pageNumber: page }
                })
                    .then(function (response) {

                        if (response.status == 200) {
                            deferred.resolve(response.data);
                        } else {
                            deferred.reject(response);
                        }
                    },
                        function myError(response) {
                            deferred.reject(response);
                        });

                return deferred.promise;

            }

            $scope.doSearch();
        }
        controller1.$inject = ['$scope', '$http', '$q', '$window', '$timeout'];
        app.controller('myCtrl', controller1);
    </script>

}
