@{
    ViewData["Title"] = "Account Transfer";
}

    <div class="text-center" ng-controller="transferController">
        <h1 class="display-4">Transfer</h1>
        <form name="transfer">
            <div class="input-group  mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">@@</span>
                </div> 
                <input type="text" class="form-control" ng-model="accountName" placeholder="AccountName" aria-label="AccountName" aria-describedby="addon-wrapping" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" min="0" step="0.01" name="amount" class="form-control text-right" placeholder="0.00" ng-model="amount" aria-label="Amount (to transfer)" required>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="doTransfer()" ng-disabled="transfer.$invalid">Submit</button>
        </form>
    </div>