@{
    ViewData["Title"] = "Account Transfer";
}

    <div class="text-center" ng-controller="transferController">
        <h1 class="display-4">Transfer</h1>
        <form>
            <div class="input-group  mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">@@</span>
                </div>
                <input type="text" class="form-control" ng-model="accountName" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" ng-model="amount" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="doTransfer()">Submit</button>
        </form>
    </div>