@{
    ViewData["Title"] = "Account Transfer";
}

<div class="text-center">
    <h1 class="display-4">Transfer</h1>
    <form>
        <div class="input-group  mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">@@</span>
            </div>
            <input type="text" class="form-control" ng-model="accountName" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" ng-model="amount" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
                <span class="input-group-text">.00</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);

        controller1 = function($scope, $http, $q, $window, $timeout) {

            $scope.doTransfer = function() {
                $scope.transfer().then(x => {
                    $scope.balance = x;
                    console.log(x);
                    //$("#overlay").show();
                    $('.toast').toast('show');

                    $timeout(function() { $window.location.href = 'https://localhost:44318/Account/Index'; }, 1000);

                }).catch(err => {
                    console.log(err);
                });
            }

            $scope.transfer = function() {
                var deferred = $q.defer();

                $http.post("./Transfer", { Amount: $scope.amount, TargetAccountNumber : $scope.accountName })
                    .then(function(response) {

                            if (response.status == 200) {
                                deferred.resolve(response.data);
                            } else {
                                deferred.reject(response);
                            }
                        },
                        function myError(response) {
                            deferred.reject(response);
                        });

                return deferred.promise;

            }
        }
        controller1.$inject = ['$scope', '$http', '$q', '$window', '$timeout'];
        app.controller('myCtrl', controller1);
    </script>

}
