@{
    ViewData["Title"] = "Account Withdraw";
    var balance = ViewData["Balance"] ?? 0.0;
    var accountNumber = ViewData["IBAN"] ?? "IBAN Account Number";
}

    <div class="text-center" ng-controller="withdrawController">
        <h1 class="display-4">@accountNumber</h1>
        <h1 class="display-4">@balance</h1>
        <h1 class="display-4">Account Withdraw</h1>

        <form name="withdraw">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" min="0" step="0.01" name="amount" ng-model="amount" class="form-control text-right" placeholder="0.00" aria-label="Amount (to withdraw)" required>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="doWithdraw()" ng-disabled="withdraw.amount.$invalid">Submit</button>
        </form>

    </div>

