@{
    ViewData["Title"] = "Account Withdraw";
}

<div class="text-center" ng-controller="withdrawController">
    <h1 class="display-4">Account Withdraw</h1>

    <form name="withdraw">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" min="0" name="amount" ng-model="amount" class="form-control" aria-label="Amount (to withdraw)" required>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="doWithdraw()" ng-disabled="withdraw.amount.$invalid">Submit</button>
    </form>

</div>

