@{
    ViewData["Title"] = "Account Withdraw";
}

<div class="text-center" ng-controller="withdrawController">
    <h1 class="display-4">Account Withdraw</h1>

    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" ng-model="amount" class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
                <span class="input-group-text">.00</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="doWithdraw()">Submit</button>
    </form>

</div>

